@charset "utf-8";
/* CSS Document */

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

@page { 
  margin: 0mm;
  margin-top: 20mm; 
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
}
.main-content {
  min-height: 60vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-top: 40px;
  padding-bottom: 100px; /* height of your footer */
}

#main-navbar {
  margin-bottom: 0px !important;
}
  #main-navbar a {
  transform: translateZ(0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}
  #main-navbar a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #fff;
    height: 4px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  #main-navbar a:hover:before {
    left: 0;
    right: 0;
    color: white;
  }

.scroll-top {
  min-width: 40px;
  min-height: 40px;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 2.25rem;
  position: fixed;
  bottom: 3vh;
  left: 4vw;
  display: none;
  background-color: #038bfb66 !important;
  z-index: 999;
}
.scroll-top:hover {
  background-color: #056dc3 !important;
}
.scroll-top i {
  display: inline-block;
  color: #fff;
}

footer {
  
  bottom: 0;
  width: 100%;
}


#logo-main {
	display: block;
	margin: 20px auto;
  width: 50vw;
}

.btn-custom {
    color: #fff;
    background-color: #2484d6;
    border-color: #62acea;
}

.btn-blue {
    color: #fff;
    background-color: #2584d5;
    border-color: #5ea9e9;
}
  .btn-blue:hover {
    background-color: #136cb7 !important;
  }


#back-arrow {
  flex-basis: 5.33333%;
}

.font-size-20 {
    font-size: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.inside-col {
  width: 100%; 
  border:none; 
  display:inline-block;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.profile-photo {
  margin-bottom: .5rem!important;
  display: block;
  border-radius: 50%!important;
  min-width: 64px;
  width: 10vw;
}

#avatar-new-info {
	display: none;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.fadex {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fadex.in {
    opacity: 1;
}

.fadeimg {
  position:relative;
  margin:0 auto;
}

.fadeimg img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.fadeimg img.top:hover {
  opacity:0;
}

.swal-button:active {
    background-color: #026684;
}

.swal-button--cancel {
    color: #fff;
    background-color: #ff3636 !important;
} 
.swal-button--cancel:active {
    background-color: #d71818 !important;
}

.swal-button {
    background-color: #039cca;
}